# Standard project files
.eclipse
build.properties
.classpath
.project
.idea
.settings
*.class
*~
.DS_Store
*.ipr
*.iml
*.iws
*.class
jacoco.exec
bin/
build/
testoutput/
config/sharedmem.properties
ivy.jar
unit-tests.properties
